<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Home Page</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">

<div class="clearfix" style="padding-bottom: 20px; ">
  <button class="btn btn-primary float-right" (click)="open(content,null)">BUAT DATA BARU</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th>Salary</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of dataSource; let nomer=index">
      <th scope="row">{{nomer+1}}</th>
      <td>{{n.employee_name}}</td>
      <td>{{n.employee_age}}</td>
      <td>{{n.employee_salary}}</td>
      <td align="right">
          <button class="btn btn-primary" (click)="edit(content,n)">EDIT</button>
        <button class="btn btn-danger" style="margin-left: 10px;" (click)="delete(n.id,nomer)">{{loadingDel[n.id] ? 'TUNGGU..':'HAPUS'}}</button>
      </td>
    </tr>
  
  </tbody>
</table>

</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

 <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name..." [(ngModel)]="user.name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Age</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter age..." [(ngModel)]="user.age">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Salary</label>
     <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Enter Salary..." [(ngModel)]="user.salary">
  </div>




  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveData(user)">{{loading  ? 'Menyimpan..':'Simpan'}}</button>
  </div>
</ng-template>